{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container about">
  <div class="row">
    <div class="about-head-alt">ABOUT US</div>
    <div class="about1 txt">
      <div class="about-head">ABOUT US</div>
      <p class="intro-text">
        <span class="company-name">Infinite Code</span> is a young, fast-growing software development company with offices in Beijing, China and Kuala Lumpur, Malaysia.
      </p>
      <p class="intro-text">
        Our clients run the range from large, publicly listed multinationals to young, scrappy startups. Our projects for them all have one common thread though - they are all either mobile web or mobile App based.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="head-dots">&nbsp;</div>
  </div>
  <div class="row about2">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4>When asked to define Infinite Code, we point to three core values:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 about3 about3-row1">
        <span class="text-green">Focus on people and developing them</span> - We believe the greatest determinant of a project or a company&rsquo;s success is the quality of the people involved. An enormous amount of resources is spent on hiring talented people, developing them and giving them the freedom and support to do their best work. We do our best to create a merit-based, flat organisation structure that allows our people to flourish and excel.
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 about3 about3-row2">
      <span class="text-green">Agile methodologies</span> - Agile methodologies work, period. Our teams are committed to working according to best practices in the Agile methods world. They focus on fast and frequent feature delivery to clients, adapting to changing needs and low overhead communications. All this while also managing to keep the software maintainable and robust.
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 about3 about3-row3">
      <span class="text-green">Open source commitment</span> - Our teams are open source veterans, having used and delivered projects built on open source for years. Where project requirements allow, we prefer to work with open technologies that are collaboratively built by a global group of thousands of software developers. We understand not only how to best utilise them but also the various Free/Open Source Software licenses and their appropriateness for various projects.
    </div>
  </div>


  <div class="row">
    <div class="head-dots">&nbsp;</div>
  </div>

  <div class="row about2">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4 id="support-open-source">We do our part as well to support the Open Source community, we donate to the following organisations and/or causes:</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 about3 about3-donation">
        <div class="donation-logo donation-logo-fsf"><img src="../img/logo-fsf.org-tiny.png" /></div>
        <div><a href="http://www.fsf.org/" target="_blank"><span class="text-green">The Free Software Foundation (FSF)</span></a> is a nonprofit with a worldwide mission to promote computer user freedom and to defend the rights of all free software users. Check out the other patrons: <a href="https://www.fsf.org/patrons" target="_blank">https://www.fsf.org/patrons</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 about3 about3-donation">
        <div class="donation-logo"><img src="../img/python-logo-master-v3-TM.png" /></div>
        <div><a href="https://www.python.org/psf/" target="_blank"><span class="text-green">The Python Software Foundation (PSF)</span></a> is a 501(c)(3) non-profit corporation that holds the intellectual property rights behind the Python programming language. Check out the other patrons: <a href="https://www.python.org/psf/" target="_blank">https://www.python.org/psf/</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 about3 about3-donation">
        <div class="donation-logo"><img src="../img/logo-django-rest-framework.jpg" /></div>
        <div><a href="http://www.django-rest-framework.org/" target="_blank"><span class="text-green">The Django REST Framework</span></a> is a powerful and flexible toolkit that makes it easy to build Web APIs with Django. Check out the other supporters: <a href="http://www.django-rest-framework.org/topics/kickstarter-announcement/" target="_blank">http://www.django-rest-framework.org/topics/kickstarter-announcement/</a></div>
    </div>
  </div>

  <div class="row">
    <div class="head-dots">&nbsp;</div>
  </div>

  <div class="row bg-stripe about4">
    <div class="col-md-4 col-md-offset-2 abou3-cell">
      For more on the work environment at Infinite Code, open positions and how to apply for a job.
      <div class="box-padding"></div>
      <a href="../joinus/index.html">
        <div class="boxed">JOIN US</div>
      </a>
      <div class="box-padding"></div>
    </div>
    <div class="col-md-4 abou3-cell">
      For information on how Infinite Code can help your organisation.
      <div class="box-padding"></div>
      <a href="../hireus/index.html">
        <div class="boxed">HIRE US</div>
      </a>
      <div class="box-padding"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="head-dots">&nbsp;</div>
</div>
{% endblock %}
