{% extends "base.html" %}

{% block title %}Hire Us{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="text-center row">
      <div class="col-lg-8 col-lg-offset-2">
          <div class="head">HIRE US</div>
              <div>
                <span class="company-name">Infinite Code</span>  takes away all the headaches of running a software development department. We build entire software development teams and deal with all the issues of managing them so that our partners just focus on specifying what needs to be created.
              </div>
      </div>
  </div>

<div class="box-padding-10"></div>
<div class="head-dots">&nbsp;</div>

<div class="box-padding-10"></div>
  <div class="row text-center">
      <div class="col-xs-12">
          <div class="text-head">Our teams cover almost the entire product development cycle:</div>
          <div class="box-padding"></div>
      </div>
      <div class="text-img-box col-sm-12 col-md-12 col-lg-2 col-lg-offset-1">
          <div class="col-md-3  col-sm-3 col-lg-12"><img class="process-image" src="../img/process-icon-1-1x.png"></div>
          <div class="txt col-md-9 col-sm-9 col-lg-12 text-left-md text-left-sm ">
              <div class="box-padding-10 hidden-xs hidden-lg"></div>
              <h4 class="text-green">Requirements Analysis</h4>
              Our Project Managers work with you to specify in detail  what needs to be done, document it and communicate this to the rest of the team.
          </div>
      </div>

    <div class="text-img-box col-sm-12 col-md-12 col-lg-2">
      <div class=" col-md-3  col-sm-3 col-lg-12"><img class="process-image" src="../img/serv-icon-2-1x.png"></div>
      <div class="txt col-md-9  col-sm-9 col-lg-12  text-left-md text-left-sm">
          <div class="box-padding-10 hidden-xs hidden-lg"></div>
          <h4 class="text-green">User Interface Design</h4>
          More than making things look good, our UI/UX designers also ensure that the product is intuitive and easy to use.
      </div>
    </div>
    <div class="text-img-box col-sm-12 col-md-12 col-lg-2">
      <div class=" col-md-3  col-sm-3 col-lg-12"><img class="process-image" src="../img/process-icon-3-1x.png"></div>
      <div class="txt col-md-9  col-sm-9 col-lg-12 text-left-md text-left-sm">
          <div class="box-padding-10 hidden-xs hidden-lg"></div>
          <h4 class="text-green">Development</h4>
          Software Developers take the produced specifications and turn it quickly into a functional product.
      </div>
    </div>
    <div class="text-img-box col-sm-12 col-md-12 col-lg-2">
      <div class=" col-md-3  col-sm-3 col-lg-12"><img class="process-image" src="../img/process-icon-4-4x.png"></div>
      <div class="txt col-md-9  col-sm-9 col-lg-12  text-left-md text-left-sm">
          <div class="box-padding-10 hidden-xs hidden-lg"></div>
          <h4 class="text-green">Testing</h4>
          Our Testers ensure the final product is defect free. Ranging from basic manual testing up to fully automated test suites and nightly builds, no defect goes undetected.
      </div>
    </div>
    <div class="text-img-box col-sm-12 col-md-12 col-lg-2">
      <div class=" col-md-3 col-sm-3 col-lg-12"><img class="process-image" src="../img/process-icon-5-1x.png"></div>
      <div class="txt col-md-9 col-sm-9 col-lg-12  text-left-md text-left-sm">
          <h4 class="text-green">Deployment and Support</h4>
          If needed, our teams can also handle deployment of the completed product on to your servers and technically support them over time. Sysadmins and Software Developers work together to ensure your products continue to deliver value over time.
      </div>
    </div>
  </div>
  <div class="box-padding-10"></div>

  <div class="hire-us-stripe">
  <div class="hireus-project-container container">
    <div class="text-center text-head">
      Our team members have experience that covers a wide variety of technologies and industries. In the last few years, they have:
    </div>
    <div class="row text-left-md">
        <div class="col-lg-8">
            <div class="text-img-box col-xs-12 col-sm-6 ">
                <div class="col-xs-3 col-sm-4"><img class="project-image" src="../img/project-icon-1-1x.png"></div>
                <div class="col-xs-9 col-sm-8 txt">Built high volume/transaction e-commerce websites</div>
            </div>
            <div class="text-img-box col-xs-12 col-sm-6">
                <div class="col-xs-3 col-sm-4"><img class="project-image" src="../img/project-icon-2-1x.png"></div>
                <div class="col-xs-9 col-sm-8 txt">Built trading and analytical tools for hedge funds</div>
            </div>
            <div class="text-img-box col-xs-12 col-sm-6">
                <div class="col-xs-3 col-sm-4"><img class="project-image" src="../img/project-icon-3-1x.png"></div>
                <div class="col-xs-9 col-sm-8 txt">Built top grossing mobile games on the iOS and Android platforms</div>
            </div>
            <div class="text-img-box col-xs-12 col-sm-6">
                <div class="col-xs-3 col-sm-4"><img class="project-image" src="../img/project-icon-4-1x.png"></div>
                <div class="col-xs-9 col-sm-8 txt">Built data collection tools for Big Data systems</div>
            </div>
        </div>
        <div class="col-lg-4 text-center text-img-box">
            <div>
                <div class="col-lg-12">&nbsp;</div>
                <i class="fa fa-envelope-o fa-4x visible-lg"></i>
                <div class=" txt">If this sounds like what you need, please contact us at <br>
                    <span class="text-green">info@infinite-code.com</span>
                </div>
            </div>
        </div>
    </div>
  </div>
  </div>

  <div class="hire-us-stripe">
  <div class="hireus-project-container container">
    <div class="hireus-expertise">

    <p>We have expertise in building web applications and mobile applications for the following verticals/industry:</p>
    <ul>
    <li>Insurance</li>
    <li>Retail / Fashion</li>
    <li>Advertising</li>
    <li>Gaming</li>
    <li>Education</li>
    <li>E-commerce</li>
    <li>API Integrations, specifically Advertising and Mobile Advertising vertical</li>
    <li>Distributed Data Processing</li>
    </ul>

    <p>We have expertise in the following technology areas:</p>
    <ul>
    <li>SQL/Databases: PostgreSQL</li>
    <li>NoSQL Databases: MongoDB, Redis</li>
    <li>Backend Scripting: Python, PHP, Ruby</li>
    <li>Web Technologies / Frontend Scripting: HTML, CSS, JavaScript, AngularJS, React, Backbone, jQuery, jQuery Mobile</li>
    <li>Cloud Technologies: Amazon Web Services (AWS), DigitalOcean</li>
    <li>Linux Operating Systems: Ubuntu, Debian, CentOS</li>
    <li>Mobile Applications: iOS, Android, Cordova/PhoneGap, Ionic, React Native</li>
    <li>Web Frameworks: Wordpress, Django, Django CMS, Django Oscar</li>
    <li>Queue Processing: Python/Celery, Amazon SQS</li>
    </ul>

    </div>
  </div>
  </div>

</div>
<div class="head-dots">&nbsp;</div>

<script type="text/javascript">window.$gorilla || ((window._gorilla={no_ui: false,load_ui: "https://8d69a4badb4c0e3cd487-efd95a2de0a33cb5b6fcd4ec94d1740c.ssl.cf2.rackcdn.com/js/CornerWidgetUI.stable.latest.min.js",mobile: false,cdn: "https://8d69a4badb4c0e3cd487-efd95a2de0a33cb5b6fcd4ec94d1740c.ssl.cf2.rackcdn.com/",domain: "infinitecode",id: 1,lang: "eng"}) &&(function (l,u,c,e,p) {var g = document.createElement(e); g.src = l; g.onload=u; document.getElementsByTagName(c)[p].appendChild(g);})("https://8d69a4badb4c0e3cd487-efd95a2de0a33cb5b6fcd4ec94d1740c.ssl.cf2.rackcdn.com/js/L.SalesGorilla.stable.latest.min.js", null, "head", "script", 0))</script>

{% endblock %}
