{% extends "base.html" %}

{% block title %}We help you ship and launch your ideas and projects{% endblock %}

{% block content %}

<div id="home1">
	<img src="../img/icon.png" id="home1-icon" class="img-responsive">
	<div id="home1-head">WE HELP YOU SHIP CODE</div>
	<div class="text" id="home1-text">
		Infinite Code is a young, fast-growing software development company 
		with offices in Beijing, China and Kuala Lumpur, Malaysia. 
		We focus on delivering quality mobile-based app.
	</div>
	<div class="box-padding"></div>
  <a href="../about/index.html">
	  <div class="boxed" id="home1-btn">ABOUT US</div>
  </a>
	<div class="box-padding"></div>
</div>
 
<div class="bg-stripe" id="home2">
	<div class="head-dots">
		<div class="head" id="home2-head">OUR SERVICES</div>
	</div>

	<div id="home2-icon1">
		<div class="item">
			<div class="img-container"><img src="../img/agile.png"></div>
			<div class="txt">AGILE SOFTWARE DEVELOPMENT</div>
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/responsive.png"></div>
			<div class="txt">RESPONSIVE WEBSITE</div>			
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/ios.png"></div>
			<div class="txt">NATIVE IOS APP</div>			
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/android.png"></div>
			<div class="txt">NATIVE ANDROID APP</div>			
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/open_source.png"></div>
			<div class="txt">FREE/OPEN SOURCE SOFTWARE</div>			
		</div>
	</div>

	<div class="hidden-xs" id="home2-icon2">
		<div class="item">
			<div class="img-container"><img src="../img/python.png"></div>
			<div class="txt">PYTHON</div>
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/django.png"></div>
			<div class="txt">DJANGO</div>
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/twisted.png"></div>
			<div class="txt">TWISTED</div>
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/postgresql.png"></div>
			<div classl="txt">POSTGRESQL</div>
		</div>
		<div class="item">
			<div class="img-container"><img src="../img/linux.png"></div>
			<div class="txt">LINUX</div>
		</div>
	</div>

	<div class="box-padding"></div>
    <a href="../hireus/index.html">
	    <div class="boxed">HIRE US NOW</div>
    </a>
	<div class="box-padding"></div>
</div>
<div id="home3-carousel" class='carousel'>
  <div class="head-dots-white">
		<div id="home3-head" class="head">WHAT PEOPLE SAY</div>
  </div>
  <div id="owl-example" class="owl-carousel">
    <div class="home-testimonial">
      <span class="name">Bertrand Schmitt</span>
      <span class="company">CEO, Chairman &amp; Co-founder at App Annie</span>
      <span class="content">
        &ldquo;
      Some outsourcing companies provide headcount. Infinite Code provides highly competent, self-managing teams that plug into your organisation and deliver results.
        &rdquo;
      </span>
    </div>
    <div class="home-testimonial">
      <span class="name">Ken Ronny Schouten</span>
      <span class="company">CTO at Nordicbet &amp; Triobet</span>
      <span class="content">
        &ldquo;
        Infinite Code teams deliver incredible value in software development.
        Professional, extremely productive and low-management - they work almost like an internal research and development team.
        I have worked with their teams for almost ten years now and I cannot recommend a better software development partner than Infinite Code.
        &rdquo;
      </span>
    </div>
    <!--
    <div class="home-testimonial">
      <span class="name">Title 3</span>
      <span class="company">Company 3</span>
      <span class="content">Very good!</span>
    </div>
    <div class="home-testimonial">
      <span class="name">Title 4</span>
      <span class="company">Company 4</span>
      <span class="content">Very good!</span>
    </div>
    <div class="home-testimonial">
      <span class="name">Title 5</span>
      <span class="company">Company 5</span>
      <span class="content">Brilliant!</span>
    </div>
    <div class="home-testimonial">
      <span class="name">Title 6</span>
      <span class="company">Company 6</span>
      <span class="content">Very good!</span>
    </div>
    <div class="home-testimonial">
      <span class="name">Title 7</span>
      <span class="company">Company 7</span>
      <span class="content">Very good!</span>
    </div>
    -->
  </div>
</div>
<div id="home4">
	<div class="head-dots">
		<div class="head" id="home4-head">MEET OUR PEOPLE</div>
	</div>
	<div class="text" id="home4-text">
		Infinite Code is founded and managed by software developers at heart,
		people who believe in: -- Putting People First, Agile Methodologies and
		Open Source.
	</div>
	<div id="home4-head2">We have two offices in :</div>
	<div class="container">

		<a href="#home5"><div class="col-md-2-offset-2 boxed" id="home4-box1">BEIJING, CHINA</div></a>
		<a href="#home5"><div class="col-md-2-offset-2 boxed" id="home4-box2">KUALA LUMPUR, MALAYSIA</div></a>
	</div>
	<div id="home4-photo">
		<div class="container">
			<div class="col-xs-6 col-sm-4 col-md-3">
				<div><img src="../photo/photo-01.jpg"></div>
				<div><img src="../photo/photo-02.jpg"></div>
				<div><img src="../photo/photo-03.jpg"></div>				
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3">
				<div><img src="../photo/photo-04.jpg"></div>
				<div><img src="../photo/photo-05.jpg"></div>
				<div><img src="../photo/photo-06.jpg"></div>	
			</div>
			<div class="col-sm-4 col-md-3 hidden-xs">
				<div><img src="../photo/photo-07.jpg"></div>
				<div><img src="../photo/photo-08.jpg"></div>
				<div><img src="../photo/photo-09.jpg"></div>	
			</div>
			<div class="col-md-3 hidden-sm hidden-xs">
				<div><img src="../photo/photo-10.jpg"></div>
				<div><img src="../photo/photo-11.jpg"></div>
				<div><img src="../photo/photo-12.jpg"></div>	
			</div>
		</div>
	</div>
</div>
<div id="home5">
  <div class="container">
    <div class="col-md-3">
      <div class="home5-head">BEIJING, CHINA OFFICE</div>
                {#
        <div class="float:left;clear:right;">
          <span class="fa fa-phone home5-fa">&nbsp;</span>
          <span>03-89442357</span>
        </div>
                #}
        <div class="float:left;clear:right;">
          <span class="fa fa-envelope-o home5-fa">&nbsp;</span>
          <span>info@infinite-code.com</span>
        </div>
        <div class="float:left;clear:right;">
          <span class="fa fa-location-arrow home5-fa">&nbsp;</span>
          <span>Suite #913,<br/>
                Building 102 Qingnian Complex,</br>
                Chaoyang North Road,</br>
                Chaoyang District,</br>
                Beijing, 100123,</br>
                China</span>
        </div>
    </div>
    <div class="col-md-3">
      <div class="home5-head">KUALA LUMPUR, MALAYSIA OFFICE</div>
        {#
                <div class="float:left;clear:right;">
          <span class="fa fa-phone home5-fa">&nbsp;</span>
          <span>03-89442357</span>
        </div>
                #}
        <div class="float:left;clear:right;">
          <span class="fa fa-envelope-o home5-fa">&nbsp;</span>
          <span>info@infinite-code.com</span>
        </div>
        <div class="float:left;clear:right;">
          <span class="fa fa-location-arrow home5-fa">&nbsp;</span>
          <span>
            Unit No. DF2-15-01,</br>
            Level 15, Persoft Tower,</br>
            Persiaran Tropicana,</br>
            Tropicana Golf & Country Resort,</br>
            47410, Petaling Jaya,</br>
            Selangor
          </span>
        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-5">
      <div class="home5-head">CONTACT US</div>
        <div class="home5-text">
          Please contact us at
          <div style="color:#129936;display:inline">info@infinite-code.com</div>
        </div>
    </div>
  </div>
</div>

<div class="head-dots">&nbsp</div>

{% endblock %}
