{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
<div class="container joinus txt">
  <div class="row jobs-row1">
    <div class="head">JOBS</div>
    <div class="intro-text">
      <span class="company-name">Infinite Code</span> has the following openings:<br />
      <span class="jobs-last-updated">Last updated: 25 May 2016</span>
    </div>
  </div>

  <div class="row joinus-row bg-stripe">
    <div class="head-dots">
      <div id="intern" class="head joinus-head1">Software Developer / Web Developer / Programmer</div>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 txt">
        <p>
            <strong class="job-section">We do this:</strong><br />
            <ul>
                <li>We build web and mobile applications for our clients</li>
                <li>Write good code and create software to power web and mobile applications</li>
                <li>Do code reviews and learn from each other</li>
                <li>Do Test Driven Development (TDD) where applicable</li>
                <li>Use Agile methodologies (i.e. Scrum, Kanban) while developing software and systems</li>
                <li>Learn new technology to solve interesting problems</li>
                <li>Work on interesting projects from Malaysian and other parts of the world</li>
                <li>And open your eyes on how software is eating the world!</li>
                <li>And have a good and fun time along the way! :D</li>
            </ul>
        </p>
        <p>
            <strong class="job-section">Some Requirements:</strong><br />
            <ul>
                <li>You want a fun, challenging and fulfilling job</li>
                <li>You want to learn the state of the art in development of web and mobile applications</li>
                <li>You should have a Degree in IT / Computer Science, but if you are self-taught, we have no problems with that too, just show us that you have what it takes.</li>
                <li>We are using a lot of open source technology: mainly Python and JavaScript for our projects, so you'll probably learn about them too</li>
                <li>We speak English and so should you</li>
                <li>We expect you to have a minimum of 1-2 years of experience writing code and designing systems. If you have done some work during school/college/university days, that is fine too.</li>
                <li>Our office is in Persoft Tower, Persiaran Tropicana, Petaling Jaya, Selangor</li>
            </ul>
        </p>
        <p>
            <strong class="job-section">Bonus, if you have experience in or agree with the following:</strong><br />
            <ul>
                <li>Web development with Python / Django, HTML, CSS, JavaScript, Linux, PostgreSQL</li>
                <li>Agile methodologies, i.e. Scrum, Kanban, Extreme programming practices</li>
                <li>Distributed source control, i.e. Git, Mercurial</li>
                <li>Geeky and love technology &amp; gadgets</li>
                <li>We are looking for 2 developers!</li>
            </ul>
        </p>
        <p class="job-apply">
            Email us directly to apply, read below for more instructions.

            OR you can apply <a href="http://www.jobstreet.com.my/en/job/2976972/sources/1/origin/my<Paste>" target="_blank">through JobStreet</a>.
        </p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  <div class="row joinus-row bg-stripe">
    <div class="head-dots">
      <div id="intern" class="head joinus-head1">Software Tester / Engineer (Intern)</div>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 txt">
        <p>
            <strong class="job-section">We do this:</strong><br />
            <ul>
                <li>We build web and mobile applications for our clients</li>
                <li>We learn from each other and share knowledge</li>
                <li>Use Agile methodologies (i.e. Scrum, Kanban) while developing software and systems</li>
                <li>Learn new technology to solve interesting problems</li>
                <li>Work on interesting projects from Malaysia and other parts of the world</li>
                <li>And open your eyes on how software is eating the world!</li>
                <li>And have a good and fun time along the way! :D</li>
            </ul>
        </p>
        <p>
            <strong class="job-section">Some Requirements:</strong><br />
            <ul>
                <li>You want a fun, challenging and fulfilling job</li>
                <li>You are curious and like to break things!</li>
                <li>You want to learn the state of the art in testing and improving software quality for web and mobile applications</li>
                <li>You should have a Degree in IT / Computer Science, but if you are self-taught, we have no problems with that too, just show us that you have what it takes</li>
                <li>You are open to do some programming to create some automated testing</li>
                <li>We speak English and so should you</li>
                <li>Our office is in Persoft Tower, Persiaran Tropicana, Petaling Jaya, Selangor</li>
            </ul>
        </p>
        <p>
            <strong class="job-section">Bonus, if you have experience in or agree with the following:</strong><br />
            <ul>
                <li>Web development, basic understanding of HTML and JavaScript</li>
                <li>Agile methodologies, i.e. Scrum</li>
                <li>Geeky and love technology &amp; gadgets</li>
            </ul>
        </p>
        <p class="job-apply">
            Email us directly to apply, read below for more instructions.
        </p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>

  <div class="joinus-row joinus-job-openings">
    <div>Find out <a href="../joinus/index.html">why you should join us</a>.</div>
    <div>Also <a href="http://www.jobstreet.com.my/en/companies/463249-infinite-code-malaysia" target="_blank">check out our company</a> Jobstreet page.</div>
  </div>

  <div class="row joinus-row-alt joinus-contactus">
    <div class="col-xs-12 col-sm-12 col-md-1 col-md-offset-3">
      <span class="fa fa-envelope-o joinus-contactus-icon"></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div>
        Does this sound like an environment you would like to work in?
      </div>
      <div>
        If so, contact us at <span class="joinus-email">kl-jobs&nbsp;(at)&nbsp;infinite&#8209;code.com</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="head-dots">&nbsp;</div>
  </div>

</div>
{% endblock %}
