{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block content %}
<div class="container joinus txt">
  <div class="row jobs-row1">
    <div class="head">JOBS</div>
    <div class="intro-text">
        <span class="company-name">Infinite Code</span> currently has zero (zip, zilch, nada) openings.<br />But you can always try to ping us.<br />
      <span class="jobs-last-updated">Last updated: 5 November 2015</span>
    </div>
  </div>

  <div class="joinus-row joinus-job-openings">
    <div>Find out <a href="../joinus/index.html">why you should join us</a>.</div>
  </div>

  <div class="row joinus-row-alt joinus-contactus">
    <div class="col-xs-12 col-sm-12 col-md-1 col-md-offset-3">
      <span class="fa fa-envelope-o joinus-contactus-icon"></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5">
      <div>
        Does this sound like an environment you would like to work in?
      </div>
      <div>
        If so, contact us at <span class="joinus-email">kl-jobs&nbsp;(at)&nbsp;infinite&#8209;code.com</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="head-dots">&nbsp;</div>
  </div>

</div>
{% endblock %}
