body {
	font-family: 'Roboto';
	font-size:14px;
	color:#bababa;
	background-color: #000000;
	background-image: url('../img/star-bg.jpg');
}

ul, ol {
    padding-left: 1.5em;
}

/*** Navigation Bar***/
#navbar {
	background:#20201e;
	border-color:#20201e;
	margin-bottom: 0;
}
#logo {
	max-width: 65%;
}
.navbar-default .navbar-toggle {
	color:#ffffff;
	border:none;
	font-size:22px;
	margin-top:1px;
}
.navbar-default .navbar-collapse {
	border-color:#20201e;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle.collapsed {
	background-color: transparent;
}
.navbar-fb {
	color:#bababa;
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 0px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size:22px;
}
.navbar-default .navbar-fb:hover,
.navbar-default .navbar-fb:focus {
	border:1px solid transparent;
	border-color:#20201e;
}
.button:focus {
	outline:none;
}
#navbar-collapse {
	margin-top:4px;
}
ul.nav.navbar-nav a:hover {
	color:#129936;
}

/*** Footer ***/
#footer {
	background:#0d0d0d;
	font-family: 'Roboto',Regular;
	font-size:14px;
	color:#bababa;
	text-align:center;
}
#footer-logo {
	overflow:hidden;
}
#footer-text {
	margin-top:12px;
	/*margin-right:0px;*/
}

/*** Global ***/
.head-dots {
	text-align:center;
	background:url('../img/greenline.png') repeat-x;
	background-size:20px;
	background-position:center;
}
.head-dots-white {
	text-align:center;
	background:url('../img/whiteline.png') repeat-x;
	background-size:20px;
	background-position:center;
}
.bg-stripe {
	background:url('../img/stripe-pattern.png') repeat;
}
.boxed {
  border-style:solid;
  border-width:2px;
  border-color:#35a43c;
  padding:1% 3%;
  display:inline;
  color:#35a43c;
  font-weight:450;
  margin:0px 25px;
}
.boxed:hover {
	color:#35a43c;
	opacity:0.3;
}
.box-padding {
	padding:20px 20px;
}

/*** Home Section 1 ***/
#home1 {
	text-align:center;
	background:url('../img/home-light-dots-1.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
}
#home1-icon {
	max-width:25%;	
	margin-top:1%;
	margin-bottom:1em;
	margin-left:auto;
	margin-right:auto;
}

/*** Home Section 2 ***/
#home2 {
	text-align: center;
}
#home2-head {
	background:url('../img/stripe-pattern.png') repeat;
}
#home2-icon1 .item, 
#home2-icon2 .item {
	display: inline-block;
	vertical-align:top;
}
#home2-icon1 .item .txt, #home2-icon2 .item .txt {
	margin-top:5px;
}

/** Home Section 3 ***/
#home3-carousel {
	text-align:center;
	background:none;
	background-color: #bababa;
	color: #000000;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
#home3-carousel .head {
  color: #000000;
}
#home3-head {
  background: #bababa;
}
.owl-item {
  border-width: 10px;
  border-color: transparent;
  border-style: solid;
}
.owl-theme .owl-controls .owl-page span {
  background: #ffffff;
}
.home-testimonial {
  text-align: left;
  background-color: #ffffff;
  padding: 12px;
  padding-bottom: 25px;
  box-shadow: 10px 10px 5px #888888;
}
.home-testimonial .name {
  color: #129936;
  display: block;
  font-weight: bold;
  font-size: 18px;
}
.home-testimonial .company {
  display: block;
  font-style: italic;
  margin-bottom: 18px;
  font-size: 14px;
}
.home-testimonial .content {
  color: #1c1c1c;
  font-size: 14px;
  line-height: 22px;
}

/*** Home Section 4 ***/
#home4 {
	text-align:center;
}	
#home4-head {
	background:url('../img/star-bg.jpg');
	padding:0px 10px;
}
#home4-head2 {
	margin:10px 0px 30px;
}
#home4-photo {
	width:100%;
	margin-top:30px;
	margin-bottom:20px;
	padding: 0px 0px;
}
#home4-photo .container {
	width:100%;
} 
#home4-photo div,
#home4-photo div div {
	padding:0px 0px;
}
#home4-photo img {
	width:100%;
}
/*** Home Section 5 ***/
#home5 {
	text-align:left;
}
.home5-head {
	font-size:16px;
	color:#129936;
}
.home5-head div {
	width:100%;
}
.home5-fa  {
	font-size:16px;
	color:#129936;
}
.home5-text {
	font-size:12px;
	color:#bababa;
}

/* job pages */
strong.job-section,
.job-apply {
    color: #ffffff;
    font-size: 16px;
}
.jobs-row1 {
    text-align: center;
}
.jobs-last-updated {
    font-size: 12px;
}

.joinus-job-openings {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border-bottom:1px solid #383838;
}

/*--------------------------------------------------------------------------*/
/*** Global ***/
@media only screen and (max-width: 319px) {
	.head {
		font-family:'Roboto';
		font-size: 26px;
		color: #fff;
		display:inline;
	}
	.text {
		margin:0px 38px 27px;
		line-height:24px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.head {
		font-family:'Roboto';
		font-size:26px;
		color:#fff;
		display:inline;
	}
	.text {
		margin:0px 38px 27px;
		line-height:36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.head {
		font-family:'Roboto';
		font-size:48px;
		color:#fff;
		display:inline;
	}
	.text {
		margin:0px 38px 34px;
		line-height:36px;
	}
}
@media only screen and (min-width: 1024px) {
	.head {
		font-family:'Roboto';
		font-size:60px;
		color:#fff;
		display:inline;
	}
	.text {
		margin:0px 38px 40px;
		line-height:36px;
	}
}
/*** Home Section 1 ***/
@media only screen {
    #home1-head {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

@media only screen and (max-width: 319px) {
	#home1-head {
		text-align:center;
		font-family:'Roboto';
		font-size:22px;
		color:#fff;
		line-height:48px;
	}

}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	#home1-head {
		text-align:center;
		font-family:'Roboto';
		font-size:36px;
		color:#fff;
		line-height:48px;
	}

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	#home1-head {
		text-align:center;
		font-family:'Roboto';
		font-size:42px;
		color:#fff;
		line-height:48px;
	}

}
@media only screen and (min-width: 1024px) {
	#home1-head {
		text-align:center;
		font-family:'Roboto';
		font-size:48px;
		color:#fff;
		line-height:48px;
	}
}

/*** Home Section 2 ***/
@media (max-width:767px) {
	#home2-icon1 {
		max-width:620px;
		margin-left:auto;
		margin-right:auto;
	}
	#home2-icon1 .item {
		width: 125px;
		margin: 0 14px 14px;
	}
	#home2-icon1 .item .img-container {
		height: 125px;
	}
	#home2-icon1 .item img {
		width:100%;
	}
}
@media (min-width:768px) and (max-width: 991px) {
	#home2-icon1 {
		max-width:700px;
		margin-left:auto;
		margin-right:auto;
	}
	#home2-icon1 .item {
		width: 147px;
		margin: 0 15px 25px;
	}
	#home2-icon1 .item .img-container {
		height: 147px;
	}
	#home2-icon2 .item {
		width: 104px;
		margin: 10px 6px;
	}
	#home2-icon2 .item .img-container {
		height: 104px;
	}	
	#home2-icon1 .item img, 
	#home2-icon2 .item img {
		width:100%;
	}
}
@media (min-width:992px) and (max-width: 1199px) {
	#home2-icon1 .item {
		width: 162px;
		margin: 0 15px 22px;
	}
	#home2-icon1 .item .img-container {
		height: 162px;
	}
	#home2-icon2 .item {
		width: 132px;
		margin: 10px 22px;
	}
	#home2-icon2 .item .img-container {
		height: 132px;
	}
	#home2-icon1 .item img, 
	#home2-icon2 .item img {
		width:100%;
	}
}
@media (min-width: 1200px) {
	#home2-icon1 .item {
		width: 162px;
		margin: 0 35px 30px;
	}
	#home2-icon1 .item .img-container {
		height: 162px;
	}
	#home2-icon2 .item {
		width: 132px;
		margin: 10px 22px;
	}
	#home2-icon2 .item .img-container {
		height: 132px;
	}
	#home2-icon1 .item img, 
	#home2-icon2 .item img {
		width:100%;
	}
}

/*** Home Section 3 ***/
@meida (max-width:991px) {
  .home-testimonial {
    text-align: left;
    background-color: #ffffff;
    padding: 12px;
    padding-bottom: 25px;
    box-shadow: 10px 10px 5px #888888;
  }
  .home-testimonial .name {
    color: #129936;
    display: block;
    font-weight: bold;
    font-size: 16px;
  }
  .home-testimonial .company {
    display: block;
    font-style: italic;
    margin-bottom: 16px;
    font-size: 14px;
  }
  .home-testimonial .content {
    color: #1c1c1c;
    font-size: 12px;
    line-height: 18px;
  }
}
/*** Home Section 4 ***/
@media (max-width:767px) {
	#home4-head2 {
		font-size:24px;
	}
}	
@media (min-width:768px) {
	#home4-head2 {
		font-size:34px;
	}
}

@media (max-width:489px) {
	#home4-box1, #home4-box2 {
		margin:3% 20%;
		display:block;
	}
}

/*** Hire Us *************************************/
.fa-envelope-o {
    color: #129936;
}

.hireus-container{
    padding-left:0px;
    padding-right:0px;
}

.text-img-box{
    padding-top:10px;
    padding-bottom:10px;
}

.box-padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.hire-us-stripe {
	background:url('../img/stripe-pattern.png') repeat;
	border-top:1px solid #383838;
    border-bottom:1px solid #383838;
    margin-left:-15px;
    margin-right:-15px;
}
@media (max-width: 767px){
    .hireus-container{
        padding-left:15px;
        padding-right:15px;
    }
    .hireus-project-container{
        padding-top: 24px;
        padding-bottom: 30px;
    }
    .process-image{
        width: 128px;
        height: 128px;
    }
    .project-image{
        width: 60px;
        height: 60px;
    }
    .text-head{
        font-size:16px;
        line-height:24px;
        color:#fff;
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    .hireus-container{
        padding-left:0px;
        padding-right:0px;
    }
    .hireus-project-container{
        padding-top: 24px;
        padding-bottom: 35px;
    }
    .process-image{
        width: 128px;
        height: 128px;
    }
    .project-image{
        width: 82px;
        height: 82px;
    }
    .text-head{
        font-size:18px;
        line-height:32px;
        color:#fff;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hireus-project-container{
        padding-top: 26px;
        padding-bottom: 45px;
    }
    .process-image{
        width: 128px;
        height: 128px;
    }
    .project-image{
        width: 82px;
        height: 82px;
    }
    .text-head{
        font-size:22px;
        line-height:28px;
        color:#fff;
    }
}
@media (min-width: 1200px) {
    .hireus-project-container{
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .process-image{
        width: 173px;
        height: 173px;
    }
    .project-image{
        width: 82px;
        height: 82px;
    }
    .text-head{
        font-size:24px;
        line-height:42px;
        color:#fff;
    }
}

/* ******* text alignment**************/
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/*** About us ***/
.about {
  width: 100%;
}
  
.about3-donation {
    padding-top: 0px !important;
}

.donation-logo {
    text-align: center;
    margin-bottom: 1em;
}
.donation-logo img {
    max-width: 280px;
}
.donation-logo-fsf img {
    background-color: #ffffff;
    padding: 1em;
}

/*** About us lg ***/
@media (min-width: 1200px) {
  .intro-text {
    font-size: 20px;
    line-height: 42px;
  }
  .company-name {
    font-size: 32px;
    font-weight: medium;
    color: #1cad43;
  }
  .about1 {
    background: url('../img/about-globe.png');
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 42%;
    background-size: 596px;
    height: 596px;
    padding-left: 50%;
    padding-top: 105px;
    text-align: left;
  }
  .about-head {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 36px;
    color: #ffffff;
  }
  .about-head-alt {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 36px;
    color: #ffffff;
    display: none;
  }
  .text-green {
    font-size: 19px;
    color: #129936;
  }
  .about2 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .about3 {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 207px;
    font-size: 16px;
    color: #bababa;
    line-height: 32px;
    min-height: 202px;
  }
  .about3-row1 {
    background: url('../img/about-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 152px;
  }
  .about3-row2 {
    background: url('../img/about-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 152px;
  }
  .about3-row3 {
    background: url('../img/about-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 152px;
  }
  .about4 {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 46px;
    border-top : 1px;
    border-top-style: solid;
    border-top-color: #383838;
  }
  .about4-cell {
    width: 480px;
  }
}

/*** About us md ***/
@media (min-width: 992px) and (max-width: 1199px) {
  .intro-text {
    font-size: 16px;
    line-height: 30px;
  }
  .company-name {
    font-size: 26px;
    font-weight: medium;
    color: #1cad43;
  }
  .about1 {
    background: url('../img/about-globe.png');
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 50%;
    background-size: 596px;
    height: 596px;
    padding-left: 50%;
    padding-top: 150px;
    text-align: left;
  }
  .about-head {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 30px;
    color: #ffffff;
  }
  .about-head-alt {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 30px;
    color: #ffffff;
    display: none;
  }
  .text-green {
    font-size: 16px;
    color: #129936;
  }
  .about2 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .about3 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 148px;
    font-size: 16px;
    color: #bababa;
    line-height: 28px;
    min-height: 166px;
  }
  .about3-row1 {
    background: url('../img/about-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 136px;
  }
  .about3-row2 {
    background: url('../img/about-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 136px;
  }
  .about3-row3 {
    background: url('../img/about-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 136px;
  }
  .about4 {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 46px;
    border-top : 1px;
    border-top-style: solid;
    border-top-color: #383838;
  }
  .about4-cell {
    width: 480px;
  }
}

/*** About us sm ***/
@media (min-width: 768px) and (max-width: 991px) {
  .intro-text {
    font-size: 15px;
    line-height: 28px;
  }
  .company-name {
    font-size: 24px;
    font-weight: medium;
    color: #1cad43;
  }
  .about1 {
    background: url('../img/about-globe.png');
    background-repeat: no-repeat;
    background-position-x: -50%;
    background-position-y: 50%;
    background-size: 596px;
    height: 596px;
    padding-left: 45%;
    padding-top: 150px;
    text-align: left;
  }
  .about-head {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: #ffffff;
  }
  .about-head-alt {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: #ffffff;
    display: none;
  }
  .text-green {
    font-size: 16px;
    color: #129936;
  }
  .about2 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .about3 {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 178px;
    font-size: 16px;
    color: #bababa;
    line-height: 28px;
    min-height: 166px;
  }
  .about3-row1 {
    background: url('../img/about-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 50%;
    background-size: 136px;
  }
  .about3-row2 {
    background: url('../img/about-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 50%;
    background-size: 136px;
  }
  .about3-row3 {
    background: url('../img/about-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 50%;
    background-size: 136px;
  }
  .about4 {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 40px;
    border-top : 1px;
    border-top-style: solid;
    border-top-color: #383838;
  }
  .about4-cell {
    width: 100%;
  }
}

/*** About us xs ***/
@media (max-width: 767px) {
  .intro-text {
    line-height: 26px;
    text-align: center;
  }
  .company-name {
    font-size: 16px;
    font-weight: medium;
    color: #1cad43;
  }
  .about1 {
    background: url('../img/about-globe.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: 352px;
    height: auto;
    padding-left: auto;
    padding-top: 352px;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .about-head {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: #ffffff;
    display: none;
  }
  .about-head-alt {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 26px;
    color: #ffffff;
    display: block;
    text-align: center;
    padding-bottom: 0px;
  }
  .text-green {
    font-size: 16px;
    color: #129936;
  }
  .about2 {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about3 {
    padding-top: 158px;
    padding-bottom: 32px;
    padding-left: auto;
    font-size: 14px;
    color: #bababa;
    line-height: 24px;
    min-height: 166px;
    text-align: center;
  }
  .about3-row1 {
    background: url('../img/about-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    #background-position-y: 50%;
    background-size: 136px;
  }
  .about3-row2 {
    background: url('../img/about-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    #background-position-y: 50%;
    background-size: 136px;
  }
  .about3-row3 {
    background: url('../img/about-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 136px;
  }
  .about4 {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 30px;
    border-top : 1px;
    border-top-style: solid;
    border-top-color: #383838;
  }
  .about4-cell {
    width: 100%;
  }
}

/*** Join us lg ***/
@media (min-width: 1200px) {
  .joinus {
    width: 100%;
  }
  .joinus-row {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #383838;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .joinus-row-alt {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .joinus-head1 {
    background:url('../img/stripe-pattern.png') repeat;
  }
  .joinus-head1-alt {
    background: url('../img/star-bg.jpg');
  }
  .joinus1 {
    text-align: center;
    margin-bottom: 35px;
  }
  .joinus1-row {
    margin-bottom: 35px;
  }
  .joinus1-cell1 {
    background: url('../img/joinus-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 180px;
    padding-top: 180px;
  }
  .joinus1-cell2 {
    background: url('../img/joinus-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 180px;
    padding-top: 180px;
  }
  .joinus1-cell3 {
    background: url('../img/joinus-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 180px;
    padding-top: 180px;
  }
  .joinus1-cell1-title {
    background: url('../img/joinus-number-1-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 35px;
    padding-left: 47px;
    color: #129936;
    font-size: 24px;
    min-height: 35px;
  }
  .joinus1-cell2-title {
    background: url('../img/joinus-number-2-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 35px;
    padding-left: 47px;
    color: #129936;
    font-size: 24px;
    min-height: 35px;
  }
  .joinus1-cell3-title {
    background: url('../img/joinus-number-3-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 35px;
    padding-left: 47px;
    color: #129936;
    font-size: 24px;
    min-height: 35px;
  }
  .joinus2-row {
    min-height: 65px;
    padding-left: 97px;
  }
  .joinus2-row-alt {
    min-height: 65px;
    padding-left: 162px;
  }
  .joinus2-cell {
    background: url('../img/joinus-peoplefirst-separator.png');
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 32px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
  }
  .joinus2-row1 {
    background: url('../img/joinus-peoplefirst-1-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row2 {
    background: url('../img/joinus-peoplefirst-2-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 87px;
  }
  .joinus2-row3 {
    background: url('../img/joinus-peoplefirst-3-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row4 {
    background: url('../img/joinus-peoplefirst-4-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 87px;
  }
  .joinus2-row5 {
    background: url('../img/joinus-peoplefirst-5-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus3 {
    text-align: center;
  }
  .joinus3-row1 {
    background: url('../img/joinus-agile-lightbulb-1x.png');
    background-repeat: no-repeat;
    background-size: 375px;
    background-position-y: 50%;
    min-height: 375px;
    padding-top: 60px;
    padding-left: 405px;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
  }
  .joinus3-row2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 35px;
  }
  .joinus3-cell {
    color: #bababa;
    font-size: 16px;
    line-height: 26px;
    padding-top: 148px;
  }
  .joinus3-cell1 {
    background: url('../img/joinus-agile-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell2 {
    background: url('../img/joinus-agile-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell3 {
    background: url('../img/joinus-agile-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell4 {
    background: url('../img/joinus-agile-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell5 {
    background: url('../img/joinus-agile-icon-5-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus4 {
    text-align: center;
  }
  .joinus4-row1 {
    color: #129936;
    font-size: 18px;
    line-height: 32px;
  }
  .joinus4-row2 {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .joinus4-row3 {
    font-size: 16px;
    line-height: 32px;
  }
  .joinus4-cell {
    text-align: center;
    color: #129936;
    font-size: 16px;
    line-height: 22px;
    padding-top: 148px;
  }
  .joinus4-cell1 {
    background: url('../img/joinus-opensource-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell2 {
    background: url('../img/joinus-opensource-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell3 {
    background: url('../img/joinus-opensource-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell4 {
    background: url('../img/joinus-opensource-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus-contactus {
    font-size: 22px;
    color: #ffffff;
    text-align: left;
    line-height: 42px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .joinus-contactus-icon {
    color: #129936;
    font-size: 60px;
  }
  .joinus-email {
    color: #129936;
  }
}

/*** Join us md ***/
@media (min-width: 992px) and (max-width: 1199px) {
  .joinus {
    width: 100%;
  }
  .joinus-row {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #383838;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .joinus-row-alt {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .joinus-head1 {
    background:url('../img/stripe-pattern.png') repeat;
  }
  .joinus-head1-alt {
    background: url('../img/star-bg.jpg');
  }
  .joinus1 {
    text-align: center;
    margin-bottom: 35px;
  }
  .joinus1-row {
    margin-bottom: 35px;
  }
  .joinus1-cell1 {
    background: url('../img/joinus-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 180px;
    padding-top: 180px;
  }
  .joinus1-cell2 {
    background: url('../img/joinus-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 180px;
    padding-top: 180px;
  }
  .joinus1-cell3 {
    background: url('../img/joinus-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 180px;
    padding-top: 180px;
  }
  .joinus1-cell1-title {
    background: url('../img/joinus-number-1-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 35px;
    padding-left: 47px;
    color: #129936;
    font-size: 24px;
    min-height: 35px;
  }
  .joinus1-cell2-title {
    background: url('../img/joinus-number-2-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 35px;
    padding-left: 47px;
    color: #129936;
    font-size: 24px;
    min-height: 35px;
  }
  .joinus1-cell3-title {
    background: url('../img/joinus-number-3-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 35px;
    padding-left: 47px;
    color: #129936;
    font-size: 24px;
    min-height: 35px;
  }
  .joinus2-row {
    min-height: 65px;
    padding-left: 97px;
  }
  .joinus2-row-alt {
    min-height: 65px;
    padding-left: 162px;
  }
  .joinus2-cell {
    background: url('../img/joinus-peoplefirst-separator.png');
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 32px;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
  }
  .joinus2-row1 {
    background: url('../img/joinus-peoplefirst-1-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row2 {
    background: url('../img/joinus-peoplefirst-2-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 87px;
  }
  .joinus2-row3 {
    background: url('../img/joinus-peoplefirst-3-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row4 {
    background: url('../img/joinus-peoplefirst-4-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 87px;
  }
  .joinus2-row5 {
    background: url('../img/joinus-peoplefirst-5-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus3 {
    text-align: center;
  }
  .joinus3-row1 {
    background: url('../img/joinus-agile-lightbulb-1x.png');
    background-repeat: no-repeat;
    background-size: 375px;
    background-position-y: 50%;
    min-height: 375px;
    padding-top: 60px;
    padding-left: 405px;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
  }
  .joinus3-row2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  .joinus3-cell {
    color: #bababa;
    font-size: 16px;
    line-height: 26px;
    padding-top: 148px;
  }
  .joinus3-cell1 {
    background: url('../img/joinus-agile-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell2 {
    background: url('../img/joinus-agile-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell3 {
    background: url('../img/joinus-agile-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell4 {
    background: url('../img/joinus-agile-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell5 {
    background: url('../img/joinus-agile-icon-5-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus4 {
    text-align: center;
  }
  .joinus4-row1 {
    color: #129936;
    font-size: 16px;
    line-height: 32px;
  }
  .joinus4-row2 {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .joinus4-row3 {
    font-size: 16px;
    line-height: 32px;
  }
  .joinus4-cell {
    text-align: center;
    color: #129936;
    font-size: 16px;
    line-height: 22px;
    padding-top: 148px;
  }
  .joinus4-cell1 {
    background: url('../img/joinus-opensource-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell2 {
    background: url('../img/joinus-opensource-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell3 {
    background: url('../img/joinus-opensource-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell4 {
    background: url('../img/joinus-opensource-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus-contactus {
    font-size: 22px;
    color: #ffffff;
    text-align: left;
    line-height: 42px;
    padding-top: 42px;
    padding-bottom: 45px;
  }
  .joinus-contactus-icon {
    color: #129936;
    font-size: 60px;
  }
  .joinus-email {
    color: #129936;
  }
}

/*** Join us sm ***/
@media (min-width: 768px) and (max-width: 991px) {
  .joinus {
    width: 100%;
  }
  .joinus-row {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #383838;
    padding-top: 24px;
    padding-bottom: 35px;
  }
  .joinus-row-alt {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    padding-top: 24px;
    padding-bottom: 35px;
  }
  .joinus-head1 {
    background:url('../img/stripe-pattern.png') repeat;
  }
  .joinus-head1-alt {
    background: url('../img/star-bg.jpg');
  }
  .joinus1 {
    text-align: center;
    margin-bottom: 35px;
  }
  .joinus1-row {
    margin-bottom: 35px;
  }
  .joinus1-cell1 {
    background: url('../img/joinus-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 128px;
    padding-top: 128px;
  }
  .joinus1-cell2 {
    background: url('../img/joinus-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 128px;
    padding-top: 128px;
  }
  .joinus1-cell3 {
    background: url('../img/joinus-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 128px;
    padding-top: 128px;
  }
  .joinus1-cell1-title {
    background: url('../img/joinus-number-1-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25px;
    padding-left: 37px;
    color: #129936;
    font-size: 18px;
    min-height: 25px;
  }
  .joinus1-cell2-title {
    background: url('../img/joinus-number-2-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25px;
    padding-left: 37px;
    color: #129936;
    font-size: 18px;
    min-height: 25px;
  }
  .joinus1-cell3-title {
    background: url('../img/joinus-number-3-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25px;
    padding-left: 37px;
    color: #129936;
    font-size: 18px;
    min-height: 25px;
  }
  .joinus2-row {
    min-height: 65px;
    padding-left: 102px;
  }
  .joinus2-row-alt {
    min-height: 65px;
    padding-left: 102px;
  }
  .joinus2-cell {
    background: url('../img/joinus-peoplefirst-separator.png');
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 28px;
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 12px;
  }
  .joinus2-row1 {
    background: url('../img/joinus-peoplefirst-1-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row2 {
    background: url('../img/joinus-peoplefirst-2-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row3 {
    background: url('../img/joinus-peoplefirst-3-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row4 {
    background: url('../img/joinus-peoplefirst-4-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus2-row5 {
    background: url('../img/joinus-peoplefirst-5-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 50%;
    background-position-x: 22px;
  }
  .joinus3 {
    text-align: center;
  }
  .joinus3-row1 {
    background: url('../img/joinus-agile-lightbulb-1x.png');
    background-repeat: no-repeat;
    background-size: 375px;
    background-position-y: 50%;
    min-height: 375px;
    padding-top: 60px;
    padding-left: 405px;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
  }
  .joinus3-row2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  .joinus3-cell {
    color: #bababa;
    font-size: 14px;
    line-height: 24px;
    padding-top: 148px;
  }
  .joinus3-cell1 {
    background: url('../img/joinus-agile-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell2 {
    background: url('../img/joinus-agile-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell3 {
    background: url('../img/joinus-agile-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell4 {
    background: url('../img/joinus-agile-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell5 {
    background: url('../img/joinus-agile-icon-5-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus4 {
    text-align: center;
  }
  .joinus4-row1 {
    color: #129936;
    font-size: 14px;
    line-height: 28px;
  }
  .joinus4-row2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .joinus4-row3 {
    font-size: 14px;
    line-height: 28px;
  }
  .joinus4-cell {
    text-align: center;
    color: #129936;
    font-size: 14px;
    line-height: 22px;
    padding-top: 148px;
  }
  .joinus4-cell1 {
    background: url('../img/joinus-opensource-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell2 {
    background: url('../img/joinus-opensource-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell3 {
    background: url('../img/joinus-opensource-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus4-cell4 {
    background: url('../img/joinus-opensource-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 35px;
  }
  .joinus-contactus {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    padding-top: 24px;
    padding-bottom: 45px;
  }
  .joinus-contactus-icon {
    color: #129936;
    font-size: 60px;
  }
  .joinus-email {
    color: #129936;
  }
}

/*** Join us xs ***/
@media (max-width: 767px) {
  .joinus {
    width: 100%;
  }
  .joinus-row {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #383838;
    padding-top: 24px;
    padding-bottom: 30px;
  }
  .joinus-row-alt {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    padding-top: 24px;
    padding-bottom: 30px;
  }
  .joinus-head1 {
    background:url('../img/stripe-pattern.png') repeat;
  }
  .joinus-head1-alt {
    background: url('../img/star-bg.jpg');
  }
  .joinus1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .joinus1-row {
    margin-bottom: 30px;
  }
  .joinus1-cell1 {
    background: url('../img/joinus-icon-1-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 128px;
    padding-top: 128px;
  }
  .joinus1-cell2 {
    background: url('../img/joinus-icon-2-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 128px;
    padding-top: 128px;
    padding-bottom: 30px;
  }
  .joinus1-cell3 {
    background: url('../img/joinus-icon-3-1x.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 128px;
    padding-top: 128px;
    padding-bottom: 30px;
  }
  .joinus1-cell1-title {
    background: url('../img/joinus-number-1-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25px;
    padding-left: 37px;
    color: #129936;
    font-size: 18px;
    min-height: 25px;
  }
  .joinus1-cell2-title {
    background: url('../img/joinus-number-2-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25px;
    padding-left: 37px;
    color: #129936;
    font-size: 18px;
    min-height: 25px;
  }
  .joinus1-cell3-title {
    background: url('../img/joinus-number-3-1x.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 25px;
    padding-left: 37px;
    color: #129936;
    font-size: 18px;
    min-height: 25px;
  }
  .joinus2-row {
    min-height: 65px;
    #padding-left: 102px;
  }
  .joinus2-row-alt {
    min-height: 65px;
    #padding-left: 102px;
  }
  .joinus2-cell {
    background: url('../img/joinus-peoplefirst-separator-2.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    font-size: 14px;
    line-height: 24px;
    padding-top: 87px;
    #padding-left: 7px;
    padding-bottom: 15px;
    text-align: center;
  }
  .join2-cell-hide {
    background: none;
  }
  .joinus2-row1 {
    background: url('../img/joinus-peoplefirst-1-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 15px;
    background-position-x: 50%;
  }
  .joinus2-row2 {
    background: url('../img/joinus-peoplefirst-2-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 15px;
    background-position-x: 50%;
  }
  .joinus2-row3 {
    background: url('../img/joinus-peoplefirst-3-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 15px;
    background-position-x: 50%;
  }
  .joinus2-row4 {
    background: url('../img/joinus-peoplefirst-4-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 15px;
    background-position-x: 50%;
  }
  .joinus2-row5 {
    background: url('../img/joinus-peoplefirst-5-1x.png');
    background-repeat: no-repeat;
    background-size: 65px;
    background-position-y: 15px;
    background-position-x: 50%;
  }
  .joinus3 {
    text-align: center;
  }
  .joinus3-row1 {
    background: url('../img/joinus-agile-lightbulb-1x.png');
    background-repeat: no-repeat;
    background-size: 375px;
    background-position-x: 50%;
    min-height: 375px;
    padding-top: 405px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .joinus3-row2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .joinus3-cell {
    color: #bababa;
    font-size: 14px;
    line-height: 24px;
    padding-top: 148px;
  }
  .joinus3-cell1 {
    background: url('../img/joinus-agile-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell2 {
    background: url('../img/joinus-agile-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell3 {
    background: url('../img/joinus-agile-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell4 {
    background: url('../img/joinus-agile-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus3-cell5 {
    background: url('../img/joinus-agile-icon-5-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
  }
  .joinus4 {
    text-align: center;
  }
  .joinus4-row1 {
    color: #129936;
    font-size: 14px;
    line-height: 24px;
  }
  .joinus4-row2 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .joinus4-row3 {
    display: none;
  }
  .joinus4-cell {
    text-align: center;
    color: #129936;
    font-size: 14px;
    line-height: 22px;
    padding-top: 148px;
  }
  .joinus4-cell1 {
    background: url('../img/joinus-opensource-icon-1-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 30px;
  }
  .joinus4-cell2 {
    background: url('../img/joinus-opensource-icon-2-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 30px;
  }
  .joinus4-cell3 {
    background: url('../img/joinus-opensource-icon-3-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 30px;
  }
  .joinus4-cell4 {
    background: url('../img/joinus-opensource-icon-4-1x.png');
    background-repeat: no-repeat;
    background-size: 136px;
    background-position-x: 50%;
    margin-bottom: 30px;
  }
  .joinus-contactus {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 45px;
  }
  .joinus-contactus-icon {
    color: #129936;
    font-size: 60px;
  }
  .joinus-email {
    color: #129936;
    display: block;
  }
}
>>>>>>> Stashed changes
